html,
body {
  margin: 0;
  padding: 0;
}

.all {
  background-color: #2a2a2a;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px black;
  color: #757575
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

