html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #757575;
}

.all {
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px black;
  color: #757575
}

.necessary {
  color: #333030;
}

.center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 7.77%;
  left: 0;
  right: 0;
  height: 0;
}

.background {
  height: 100%;
  background: #8E2DE2;
  background: -webkit-linear-gradient(to bottom, #4A00E0, #8E2DE2);
  background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
}
