html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #757575;
}

.all {
  background-color: #2a2a2a;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px black;
  color: #757575
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.necessary {
  color: #333030;
}

.center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 7.77%;
  left: 0;
  right: 0;
  height: 0;
}
