html {
    overflow-y: hidden;
}

.tabcontentheadfont {
    font-size: 16px;
    padding-left: 4px;
}

.tabcontentfont {
    font-size: 14px;
    padding-left: 4px;
}

.tabcontentlistfont {
    font-size: 16px;
    padding-left: 8px;
}

.icons {
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.center2 {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
}

a:link:hover {
    text-decoration: none;
}

h4 {
    position: relative;
    left: 43%;
}
